@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
div.home-sub-b {
  font-family: "Open Sans", sans-serif; }

p,
h1,
.home-link span,
.home-sub-b,
.menu-left ul li a,
.section-projects .list-b li,
.section-about ul li a,
.section-projects .projects-list a {
  font-family: "Open Sans", sans-serif;
  font-weight: 200; }

.button {
  padding: 10px 20px;
  background-color: #FEECB3;
  color: #474444;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 14px;
  transition: all 200ms linear;
  -webkit-transition: all 200ms linear; }
  .button:hover {
    background-color: #fff4d3;
    text-decoration: none;
    color: #474444; }

#services-carousel {
  margin-bottom: 25px; }

.projects-list ul {
  padding-bottom: 10px; }

img.logo-img {
  margin-top: -10px;
  margin-bottom: -10px; }

div.home-sub-a {
  margin-right: -16px; }

div.home-sub-b {
  margin-right: -53px;
  margin-top: 10px; }

.home-name {
  margin: 0 auto 20px; }

.loader-name {
  font-size: 12px;
  line-height: 100px;
  font-weight: 300; }

.loader-frame {
  border: none;
  background-image: none; }

.menu-sub {
  font-family: "Open Sans", sans-serif; }

p.team-profession {
  font-weight: 200; }

.menu-left ul li:nth-child(3) {
  margin-bottom: 10px; }

.menu-left ul li.small-anchor {
  position: relative;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 20px; }
  .menu-left ul li.small-anchor a {
    transition: 200ms color; }
  .menu-left ul li.small-anchor a:hover i {
    color: #F8CB42; }
  .menu-left ul li.small-anchor a i {
    position: absolute;
    top: 3px;
    left: 0px; }

.menu-left ul li.small-anchor a {
  font-size: 12px; }

.section-services h2 a {
  text-decoration: none;
  color: #474444;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif; }
  .section-services h2 a:hover {
    opacity: 0.8; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .logo-img {
    height: 50px; }

  .section-home .section-margin {
    padding-top: 10px;
    padding-left: 30px !important;
    padding-bottom: 40px !important; }

  div.home-sub-b {
    margin-right: -32px; } }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */ }
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .projects-section-custom {
    width: 80%; }

  .section-projects .projects-list a {
    font-size: 12px !important; }

  .section-projects .list-a ul li {
    margin: 5px 0 5px 15px; }

  .mobile-logo {
    display: none !important; } }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*# sourceMappingURL=mystyles.css.map */
